*{
  
}

body{
  background-color: burlywood;
  margin: 0%;
}

.natbar {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.rectangulo1 {
  background-color: rgb(147 106 68);
  padding: 4px;
}

.rectangulo2 {
  background-color: black;
  padding: 10px;
}

.logo-titulo {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
}

.logo-titulo img {
  width: 300px;
  margin-right: 10px;
}

.logo-titulo h1 {
  color: white;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: -50px;
}


.links {
  display: flex;
  justify-content: center; 
  padding: 10px 20px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}


.links a:hover {
  text-decoration: underline;
}

.fotos {
  display: flex;
  justify-content: space-between;
  margin: 44px;
}

.image {
  width: calc(33.33% - 10px);
}

.image img {
  width: 430px;
  height: 320px;
  display: block;
  margin-left: 90px;
}

.nosotros{
  text-align: center;
}

.clases{
  margin: 50px;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 450px; /* Cambia este valor según el tamaño deseado */
  margin: 0 10px; /* Ajusta este valor según el espacio deseado entre las imágenes */
}