*{
  margin: 0%;
}

.natbar {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.rectangulo1 {
  background-color: #555;
  padding: 10px;
}

.rectangulo2 {
  background-color: #777;
  padding: 10px;
}

.logo-titulo {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
}

.logo-titulo img {
  width: 50px;
  margin-right: 10px;
}

.logo-titulo h1 {
  color: white;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: -50px;
}


.links {
  display: flex;
  justify-content: center; 
  padding: 10px 20px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}


.links a:hover {
  text-decoration: underline;
}

.colorfondo {
  background-color: aqua;
}

.fotos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Espacio entre filas */
}

.image {
  width: calc(33.33% - 10px); /* Ajuste del ancho de las imágenes con margen entre ellas */
}

.image img {
  width: 430px;
  height: 320px;
  display: block;
  margin-left: 90px;
  margin-top: 18px;
  margin-bottom: 20px;
}