
.carousel {
  position: relative;
  max-width: 2000px; /* Ajustado el ancho máximo */
  margin: 0 auto;
  overflow: hidden;
}
.slides {
  display: flex;
  animation: slide-animation 15s infinite;
}
.slide {
  flex: 0 0 100%;
}
@keyframes slide-animation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
.carousel:hover .controls {
  opacity: 1;
}
.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.control {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0px;
  border: none;
  outline: none;
}

body{
  background-color: burlywood;
  margin: 0%;
}

.rectangulo1 {
  background-color: rgb(147 106 68);
  padding: 4px;
}

.rectangulo2 {
  background-color: black;
  padding: 10px;
}

.logo-titulo {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
}

.logo-titulo img {
  width: 255px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.logo-titulo h1 {
  color: white;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: -200px;
}

.links {
  display: flex;
  justify-content: center; 
  padding: 10px 20px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}

.links a:hover {
  box-shadow: 0 0 10px white;
}

.fotos {
  display: flex;
  justify-content: space-between;
  margin: 44px;
}

.image {
  width: calc(33.33% - 10px);
}

.image img {
  width: 430px;
  height: 320px;
  display: block;
  margin-left: 70px;
  transition: transform 0.3s ease;
  margin-top: 7px;
}

.image:hover img {
  transform: scale(1.1);
}

.nosotros{
  text-align: center;
}

.clases{
  margin: 50px;
}

.nosotrosimg{
  text-align: center;
}

.musa{
  margin: 10px;
  width: 800px;
  height: 500px;
}

.logo-texto {
  margin-left: 170px;
    display: flex;
    align-items: center;
}

.logo {
  width: 30px;
  height: auto; 
  margin-right: 10px; 
}

.texto {
  font-size: 18px; 
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 {
  width: 400px;
  margin-top: 40px;
  margin-right: 30px;
  transition: transform 0.5s;

  
}

.image1:hover {
    transform: scale(1.1);
}

.guitar-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.guitar-course {
  width: calc(33% - 20px); /* Ajustar el ancho de las columnas según sea necesario */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.guitar-course h2 {
  margin-top: 0;
}

.prices {
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.prices h3 {
  margin-top: 0;
}

.prices ul {
  list-style-type: none;
  padding-left: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 450px; /* Cambia este valor según el tamaño deseado en servicios*/
  margin: 0 10px; /* Ajusta este valor según el espacio deseado entre las imágenes */
}
/* Estilos para el menú desplegable */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Mismo color que la barra de navegación */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white; /* Color del texto igual al de los otros enlaces */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555; /* Color de fondo al pasar el cursor igual al de los otros enlaces */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #333; /* Mismo color que la barra de navegación */
  color: white; /* Color del texto igual al de los otros enlaces */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 100px; /* Ajusta el margen izquierdo para que coincida con el de los otros enlaces */
  margin-right: 100px; /* Ajusta el margen derecho para que coincida con el de los otros enlaces */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.maintenance-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.maintenance-plan {
  width: calc(33% - 20px); /* Ajustar el ancho de las columnas según sea necesario */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
}

.maintenance-plan h2,
.maintenance-plan h3 {
  margin-top: 0;
}

.maintenance-plan ul {
  list-style-type: none;
  padding-left: 0;
}

.maintenance-plan ul ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

.maintenance-plan ul ul li {
  margin-left: 20px;
}

.maintenance-plan p {
  margin-top: 10px;
}

/* Ajustar descripcion del menú */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.music-store {
  padding: 50px;
}

h1 {
  font-size: 39px;
  text-align: center;
}

.store-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.store-image {
  width: 700px;
  margin-right: 200px;
}

.store-text {
  max-width: 900px;
}

.store-text p {
  margin-top: 0;
  font-size: 18px;
}

.store-text ul {
  padding-left: 20px;
  font-size: 18px;
}
.text-columns {
  display: flex;
  justify-content: space-around; /* Ajusta el espacio entre las columnas */
  margin-top: 20px; /* Ajusta la separación entre las imágenes y las columnas de texto */
}

.text-column {
  width: 40%; /* Ajusta el ancho de cada columna */
  text-align: center;
}

.text-column h2 {
  margin-top: 0;
}
/* FOOTER */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Asegura que la página ocupe al menos el alto de la ventana del navegador */
  position: relative; /* Para permitir el posicionamiento absoluto dentro de ella */
}
/* Estilos para el contenido de la página */
.content {
  padding-bottom: 100px; /* Ajustar al alto del footer */
}
/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Ajustar al alto deseado */
}
/* Aplicar estilo solo cuando se desplaza hacia abajo */
body::after {
  content: "";
  display: block;
  height: 50px; /* Ajustar al alto del footer */
  margin-top: -50px; /* Asegura que el footer se superponga al contenido solo cuando sea necesario */
}