{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clases de Guitarra - Estacion La Musa</title>
    <link rel="stylesheet" href="{% static 'css/clasesdeguitarra.css' %}">
    <script src="{% static 'js/carrito.js' %}"></script> <!-- Enlaza tu archivo JavaScript -->
</head>
<body>
  <div class="natbar">
    <div class="rectangulo1">
        <div class="logo-titulo">
          <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="Descripción de la imagen">
          </a>
          <h1>Estacion La Musa</h1>
        </div>
      </div>
      <div class="rectangulo2">
        <div class="links">
          <a href="/">Menu</a>
          <div class="dropdown">
              <button class="dropbtn"><a href="/servicios/">Servicios</a></button>
              <div class="dropdown-content">
                  <a href="/clasesguitarra/">Clases de guitarra</a>
                  <a href="/calibracion/">Calibración de instrumentos</a>
                  <a href="/salaensayo/">Sala de ensayo</a>
              </div>
          </div>
          <a href="/galeria/">Galeria</a>
          <a href="/nosotros/">Nosotros</a>
          <a href="/blog/">Blog</a>
        </div>
      </div>
    </div> 
    
      <div class="maintenance-plans">
        <div class="maintenance-plan">
            <h1>Básico</h1>
            <p>Este curso está orientado para quienes se inician en el mundo de la música y/o guitarra. Desde aprender las partes del instrumento a seguir ritmos básicos, aprender acordes básicos e iniciarse en canciones. Además se introduce al mundo de la teoría musical.</p>
            <h1>Precios:</h1>
            <p>1 clase x $12.000 <br>
              4 clases x $42.000 <br>
              6 clases x $60.000</p>
            <form onsubmit="agregarAlCarrito('1'); return false;">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="1">
                <button type="submit">Agregar al carrito</button>
            </form>
          </div>
        <div class="maintenance-plan">
            <h1>Intermedio</h1>
            <p>Este curso está orientado para quienes ya tienen un conocimiento previo básico y deseen avanzar a mayores conocimientos. Además, se desarrolla más el mundo de las partituras, la teoría musical y los distintos estilos musicales.</p>
            <h1>Precios:</h1>
            <p>1 clase x $12.000 <br>
              4 clases x $42.000 <br>
              6 clases x $60.000</p>
            <form onsubmit="agregarAlCarrito('2'); return false;">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="2">
                <button type="submit">Agregar al carrito</button>
            </form>
          </div>
        <div class="maintenance-plan">
            <h1>Avanzado</h1>
            <p>Este curso está orientado a quienes ya tienen conocimientos sobre guitarra, saben tocar canciones y están introducidos en el mundo de las partituras. En esta etapa se perfecciona cada detalle tanto práctica como teórica. Además se aprende acerca de la improvisación, armonía y composición.</p>
            <h1>Precios:</h1>
            <p>1 clase x $12.000 <br>
              4 clases x $42.000 <br>
              6 clases x $60.000</p> 
            <form onsubmit="agregarAlCarrito('3'); return false;">
                {% csrf_token %}
                <input type="hidden" name="producto_id" value="3">
                <button type="submit">Agregar al carrito</button>
            </form>
          </div>     
      </div>

    <!-- Donde quieres mostrar el carrito -->
    <div id="carrito"></div>
    
</body>
</html>
