<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Ensayo - Estacion La Musa</title>
    <link rel="stylesheet" href="css/saladeensayo.css">  
</head>
<body>
  <div class="natbar">
    <div class="rectangulo1">
      <div class="logo-titulo">
        <a href="index.html">
            <img src="img/logo.png" alt="Descripción de la imagen">
          </a>
        <h1>Sala de Ensayo</h1>
      </div>
    </div>
    <div class="rectangulo2">
      <div class="links">
        <a href="index.html">Menu</a>
        <div class="dropdown">
            <button class="dropbtn"> <a href="servicios.html">Servicios</a>></i></button>
            <div class="dropdown-content">
                <a href="clasesguitarra.html">Clases de guitarra</a>
                <a href="calibracion.html">Calibración de instrumentos</a>
                <a href="salaensayo.html">Sala de ensayo</a>
            </div>
        </div>
        <a href="galeria.html">Galeria</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="blog.html">Blog</a>
      </div>
    </div>
  </div>
  <div class="topa">
    <div class="fotos">
      <div class="image">
        <img src="img/salaensayo/sala1.jpg" alt="Imagen 1">
      </div>
      <div class="image">
        <img src="img/salaensayo/sala2.jpg" alt="Imagen 2">
      </div>
      </div>
  </div>
      <div class="fotos">
        <div class="image">
          <img src="img/salaensayo/sala3.jpg" alt="Imagen 3">
        </div>
        <div class="image">
          <img src="img/salaensayo/sala4.jpeg" alt="Imagen 4">
        </div>
      </div>
      <div class="maintenance-plans">
        <div class="maintenance-plan">
          <h2>Características</h2>
          <p>Con una atmósfera acogedora y un ambiente agradable, nuestra sala te invita a sumergirte en tu música y sacar lo mejor de ti mismo.
      
            Equipada con un amplificador de guitarra Vox AC15, un amplificador de bajo Laney de 100W, tres atriles con micrófonos, una batería completa y una mesa de mezclas de 12 canales, nuestra sala ofrece todo lo que necesitas para ensayar y perfeccionar tu sonido.
            
            Ya sea que estés grabando demos, preparándote para un concierto o simplemente disfrutando de una sesión de improvisación, nuestro espacio está diseñado para inspirarte y ayudarte a alcanzar tus metas musicales. </p>
        </div>
        <div class="maintenance-plan">
          <h2>Valores</h2>
          <p>El valor del arriendo de nuestra sala es de 8000 CLP por hora. Además, ofrecemos el arriendo de platillos y otros instrumentos adicionales para complementar tu experiencia de ensayo. Los precios de los instrumentos adicionales varían según el artículo.
      
            Actualmente, tenemos una promoción especial: por cada reserva de 3 horas, te regalamos el arriendo de los platillos y un instrumento adicional de tu elección.</p>
        </div>
      </div>
      
</body>
</html>